@-moz-document domain(tweetdeck.twitter.com)
{
  .app-columns-container
  {
    background: rgb(180,236,162)  linear-gradient(158deg, rgba(180,236,162,0.3827731776304272) 0%, rgba(161,232,233,0.7273109927564776) 37%, rgba(155,225,242,0.6908964269301471) 66%, rgba(175,238,163,0.6264706566220238) 99%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .js-app-header-inner, .js-app-header-inner a, .js-app-header-inner nav , .js-app-header-inner h1
  {
    background-color: #E2E4E4;
  }

  span.prf-img, img.avatar
  {
    border: 0 !important;
    background: 0  !important;
    box-shadow: 1px 1px 1px transparent;
  }

  .js-column-header
  {
    color: #000000;
    background-color: rgb(244,254,241);
    background: linear-gradient(87deg, rgba(244,254,241,0.5284314409357493) 0%, rgba(254,254,254,0.7273109927564776) 37%, rgba(244,255,245,0.5200280795912116) 66%, rgba(254,254,254,0.6264706566220238) 100%);
  }

  .stream-item
  {
    color: #313b51;
    background-color: rgb(244,254,241);
    background: linear-gradient(82deg, rgba(244,254,241,0.5284314409357493) 0%, rgba(235,251,251,0.6628852224483543) 0%, rgba(218,218,218,0.24831939611782217) 45%, rgba(235,251,251,0.5816527294511555) 100%);
  }

  ::-webkit-scrollbar-thumb
  {
    border-radius: 0px !important;
    background-color: #313b51 !important;
    background: rgb(180,236,162);
    background: linear-gradient(158deg, rgba(180,236,162,0.3827731776304272) 0%, rgba(161,232,233,0.7273109927564776) 37%, rgba(155,225,242,0.6908964269301471) 66%, rgba(175,238,163,0.6264706566220238) 99%);
  }

  .stream-item .icon
  {
    color: #313b51;
  }

  .app-columns
  {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .app-columns:after
  {
    width: 100%;
  }

  .column
  {
    margin: 3vh 3vw;
    height: 95vh;
    min-width: 22vw;
    width: auto;
    max-width: 22vw !important;
  }

  .js-app-add-panel
  {
    display: none;
    opacity: 0;
  }

  .med-fullpanel
  {
    background-color: rgba(53,121,78,0.3);
  }

  .mdl
  {
    box-shadow: 3px 3px #888888;
  }

  .ovl, .overlay
  {
    background: rgba(53,121,78, 0);
  }
}